<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <title>РусВопрос</title>  
</head>
<body>
    <header class="main-header">
        <nav class="header-nav">
            <a href="#"><img src="logo.svg" alt="logo" width="50" height="50"></a>
            <p><b style="color: blue"">Рус</b><b style="color: red"">Вопрос</b></p>
            <ul class="nav-list">
                <li><a href="#">Профиль</a></li>
            </ul>
        </nav>     
    </header>
    <main>
        <div class="widgets">
                <div class="widget-item">
                    <div class="widget-inner">
                        <input type="text" class="input-frame" placeholder="Введите код или название">
                        <button class="find-button" href="#">Найти</button>
                    </div>
                </div>
                <div class="widget-item">
                    <img src="plus-icon.svg" width="50" alt="find">
                    <a href="#"><p>Создать викторину</p></a>  
                </div>
        </div>
		<div class="existing-quizzes">
            <h1>Мои викторины</h1>
            <ul class="existing-list">
                <li class="existing-item">
                    <img src="test.jpg" alt="#">
                    <p>19 Вопросов</p>
                    <h2>Заголовок викторины</h2>
                </li>
                <li class="existing-item">
                    <img src="test.jpg" alt="#">
                    <p>6 Вопросов</p>
                    <h2>Заголовок очень прямо длинный чтоб верстку проверить</h2>
                </li>
            </ul>
        </div>
        <div class="existing-quizzes">
            <h1>Существующие викторины</h1>
            <ul class="existing-list">
                <li class="existing-item">
                    <img src="test.jpg" alt="#">
                    <p>19 Вопросов</p>
                    <h2>Заголовок викторины</h2>
                </li>
                <li class="existing-item">
                    <img src="test.jpg" alt="#">
                    <p>6 Вопросов</p>
                    <h2>Заголовок очень прямо длинный чтоб верстку проверить</h2>
                </li>
                <li class="existing-item">
                    <img src="test.jpg" alt="#">
                    <p>22 Вопроса</p>
                    <h2>Заголовок викторины</h2>
                </li>
                <li class="existing-item">
                    <img src="test.jpg" alt="#">
                    <p>19 Вопросов</p>
                    <h2>Заголовок очень прямо длинный чтоб верстку проверить</h2>
                </li>
                <li class="existing-item">
                    <img src="test.jpg" alt="#">
                    <p>19 Вопросов</p>
                    <h2>Заголовок очень прямо длинный чтоб верстку проверить</h2>
                </li>
                <li class="existing-item">
                    <img src="test.jpg" alt="#">
                    <p>19 Вопросов</p>
                    <h2>Заголовок очень прямо длинный чтоб верстку проверить</h2>
                </li>
            </ul>
        </div>
    </main>
    <footer class="main-footer">

    </footer>
</body>
</html>