<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <title>РусВопрос</title>  
</head>
<body>
    <header class="main-header">
        <nav class="header-nav">
            <a href="#"><img src="logo.svg" alt="logo" width="50" height="50"></a>
            <p>РусВопрос</p>
            <ul class="nav-list">
                <li><a href="#">Профиль</a></li>
            </ul>
        </nav>     
    </header>
    <main>
        <div class="widgets">
            <div class="widget-inner">
                <div class="create-widget">
                    <img src="plus-icon.svg" width="50" height="40" alt="create">
                    <a href="#"><p>Создать викторину</p></a>           
                </div>
            </div>        
        </div>
    </main>
    <footer class="main-footer">

    </footer>
</body>
</html>