{% include 'main_header.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>РусВопрос</title>
    <link rel="stylesheet" href="{% static 'create_quiz_view.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <script src="https://yastatic.net/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <script type="text/javascript" src="{% static 'create_quiz.js' %}"></script>
</head>
<body>
    {% block main_header %}
    {% endblock main_header %}
<!--    <header class="main-header">-->
<!--        <nav class="header-nav">-->
<!--            <a href="#" class="main-logo"><img src="{% static 'logo.svg' %}" alt="logo" width="50" height="50"></a>-->
<!--            <p><b style="color: blue"">Рус</b><b style="color: red"">Вопрос</b></p>-->
<!--            <ul class="nav-list">-->
<!--                <li><a href="#">Профиль</a></li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </header>-->
<main>

    {% csrf_token %}
    <div class="wrapper">
        <input type="text" class="input-name" placeholder="Название викторины"/>
        <input type="text" class="input-topic" placeholder="Тема викторины"/>
        <div class="grid-buttons">
            <input type="text" class="input-difficulty" placeholder="Сложность"/>
            <input type="text" class="input-time" placeholder="Время на выполнение(мин)"/>
        </div>

            <ul class="question-list">
<!--                <li>-->
<!--                    <div class="question-wrapper">-->
<!--                        <div class="question-header">-->
<!--                            <img src="static/trash.svg" alt="Удалить" width="30" class="delete_question">-->
<!--                            <input type="text" class="question-text" placeholder="Введите текст вопроса">-->
<!--                        </div>-->
<!--                        <ul class="answer-list">-->
<!--                            <li class="question-answer">-->
<!--                                <div class="title-input">-->
<!--                                    <img class="remove-answer-btn" src="static/trash.svg" alt="" width="20">-->
<!--                                    <input type="checkbox" class="check-box">-->
<!--                                </div>-->
<!--                                <input type="text" placeholder="Введите текст здесь" class="answer-text">-->
<!--                            </li>-->
<!--                            <li class="question-answer">-->
<!--                                <div class="title-input">-->
<!--                                    <img class="remove-answer-btn" src="static/trash.svg" alt="" width="20">-->
<!--                                    <input type="checkbox" class="check-box">-->
<!--                                </div>-->
<!--                                <input type="text" placeholder="Введите текст здесь" class="answer-text">-->
<!--                            </li>-->
<!--                            <li class="question-answer">-->
<!--                                <div class="title-input">-->
<!--                                    <img class="remove-answer-btn" src="static/trash.svg" alt="" width="20">-->
<!--                                    <input type="checkbox" class="check-box">-->
<!--                                </div>-->
<!--                                <input type="text" placeholder="Введите текст здесь" class="answer-text">-->
<!--                            </li>-->
<!--                            <li class="question-answer">-->
<!--                                <div class="title-input">-->
<!--                                    <img class="remove-answer-btn" src="static/trash.svg" alt="" width="20">-->
<!--                                    <input type="checkbox" class="check-box">-->
<!--                                </div>-->
<!--                                <input type="text" placeholder="Введите текст здесь" class="answer-text">-->
<!--                            </li>-->
<!--                            <img src="static/add-icon.svg" alt="" class="add-answer-btn" width="30" height="30">-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </li>-->

            </ul>
<!--            <img src="{% static 'add-icon.svg' %}" alt="" class="add-question-btn" width="30" height="30">-->
            <div class="end-buttons">
                <button class="add-question-btn">Новый вопрос</button>
                <button class="create-quiz"><img src="{% static 'link.svg' %}" alt="" width="40"> Создать викторину</button>
            </div>

        </div>
    </main>
</body>
</html>