{% include 'main_header.html' %}

{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'quiz_preview.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<!--    <script type="text/javascript" src="{% static 'base.js' %}"></script>-->
    <script type="text/javascript" src="{% static 'quiz_preview.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
    <title>РусВопрос</title>
</head>
<body>
    {% block main_header %}
    {% endblock main_header %}
<!--    <header class="main-header">-->
<!--        <nav class="header-nav">-->
<!--            <a href="#" class="main-logo"><img src="{% static 'logo.svg' %}" alt="logo" width="50" height="50"></a>-->
<!--            <p><b style="color: blue"">Рус</b><b style="color: red"">Вопрос</b></p>-->
<!--            <ul class="nav-list">-->
<!--                <li><a href="#">Профиль</a></li>-->
<!--            </ul>-->
<!--        </nav>-->
<!--    </header>-->
    {% csrf_token %}
    <div class="wrapper-main">
        <div class="wrapper">
            <h1 class="name text-header">Название: {{quiz.name}}</h1>
            <h2 class="title text-header">Тема: {{quiz.topic}}</h2>
            <h3 class="difficulty text-header">Сложность: {{quiz.difficulty}}</h3>
            <h3 class="question-count text-header">Количество вопросов: {{quiz.number_of_questions}}</h3>
            <div id="qrcode" class="qrcode"></div>
            <a href="{% url 'solve' quiz.pk %}"><button class='back-button' href="{% url 'solve' quiz.pk %}"><p>пройти викторину</p></button></a>
            <a href="{% url 'main' %}"><button class='again-button' href="{% url 'main' %}"><p>на главную</p></button></a>

        </div>

    </div>

</body>
</html>