{% extends 'base.html' %}
{% load static %}
{% block user_questions %}
{% for quiz in user_quizes %}
<li class="existing-item" id="{{quiz.pk}}">
    <img src="{% static 'test.jpg' %}" alt="#" class="item-pic">
    <p class="question-count">{{quiz.number_of_questions}} Вопросов</p>
    <div class="list-config">
        <h2>{{quiz.name}}</h2>
<!--        <img src="{% static 'dots.svg' %}" class="img-button extra" onclick="event.stopPropagation()" alt="Возможности">-->
        <div class="dropdown">
            <img src="{% static 'dots.svg' %}" class="dropbtn" alt="Возможности" width="20" onclick="event.stopPropagation()">
            <div class="dropdown-content">
                <a onclick="event.stopPropagation()"><div class="drop-link"><img src="{% static 'statistic.svg' %}" width="20" class="drop-link-img"><p class="drop-link-text">Статистика</p></div></a>
<!--                <a href="#" onclick="event.stopPropagation()"><div class="drop-link"><img src="{% static 'share.svg' %}" width="20" class="drop-link-img"><p class="drop-link-text">Поделиться</p></div></a>-->
                <a id="del-button" onclick="event.stopPropagation()"><div class="drop-link"><img src="{% static 'trash.svg' %}" width="20" class="drop-link-img"><p class="drop-link-text">Удалить</p></div></a>
            </div>
        </div>

    </div>
</li>
{% endfor %}
{% endblock user_questions %}

{% block all_questions %}
{% for quiz in all_quizes %}
<li class="existing-item" id="{{quiz.pk}}">
    <img src="{% static 'test.jpg' %}" alt="#" class="item-pic">
    <p class="question-count">{{quiz.number_of_questions}} Вопросов</p>
    <h2>{{quiz.name}}</h2>
</li>
{% endfor %}
{% endblock all_questions %}