h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    font-size: 16px;
    width: 100%;
}

.main-header {
    background-color: #ffffff;
    height: 55px; 
    /* background-color: #25B33f; */
    border-bottom: 2px solid #d3d3d3;
}
/* jnc,sdfsdfsgjdg;fghjdjhfg:kdfhgk:djfgk:dfhjg:dfjgdkpfghdfg */
.dropbtn {
	width: 25px;
	color: white;
	border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fefefe;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: max-content;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:first-child  {
  border-radius: 8px 8px 0 0;
}

.dropdown-content a:last-child  {
  border-radius: 0 0 8px 8px;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #D2DCFE;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: block;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {
    filter: invert(16%) sepia(63%) saturate(7370%) hue-rotate(236deg) brightness(99%) contrast(95%);
}

.drop-link {
    display: flex;
    flex-display: row;
    gap: 5px;
    align-items: center;
}

.drop-link-img {
    width: 20px
    padding: 0;
}

.drop-link-text {
    width: 20px
    padding: 0;
    margin: 0;
}

.header-nav {
    padding: 0 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.header-nav p {
    font-family: 'Marck Script', cursive;
    font-size: 35px;
}

.nav-list {
    list-style: none;
}

.nav-list a {
    text-decoration:none;
    color: #000;
}

main {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0;
}

.widgets {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}

.widget-item {
    display: flex;
    /* width: 350px;  */
    height: 180px;
    border: 1px solid #d3d3d3;
    background-color: #ffffff;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 10px 10px -10px #000000;
}

.widget-item a {
    padding: 0 10px;
    text-decoration: none;
    color: #000;
}

.widget-item a p {
    color: #000;
    font-size: 20px;
}

.widget-inner {
    display: grid;
    gap: 10px;
    width: 70%;
    height: 25%;
    background-color: #fafafa;
    padding: 10px;
    border: 2px solid #d3d3d3;
    border-radius: 15px;
    grid-template-columns: 2.2fr 0.8fr;
    justify-content: center;
    align-content: center;
}

.input-frame {
    border: none;
    border-radius: 15px;
    color: #000;
	border: 1px solid #1F41F7;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    font-size: 16px;
    padding-left: 10px;
}

.find-button {
    /* margin: -5px 0 0 0; */
    background-color: #1F41F7;
    color: #ffffff;
    height: 50px;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 15px;
    border: none;
    box-shadow: 0px -4px #0F23B1 inset;
    font-size: 18px;
}

.find-button:hover {
    background-color: #1631D4;
    box-shadow: 0px -4px #09188F inset;
	transition: .1s;
}

.existing-list {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    display: grid;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: repeat(2, auto);
    /* background-color: aqua; */   
    
}

.existing-item {
    display: flex;
    flex-direction: column;
    height: 210px;
    padding: 15px;
    /* margin-right: 15px; */
    background-color: #fefefe;
    border-radius: 20px;
    border: 1px solid #d3d3d3;
}

.question-count {
    margin: 5px 0;
    padding: 0;
    background-color: #ffffff;
    width: max-content;
    padding: 4px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}

.existing-item h2 {
    margin: 0;
    padding: 0; 
    max-width: max-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.myDialog {
    border-radius: 20px;
    border: 2px solid #0F23B1;
}

.dialog-buttons {
    display: grid;
    gap: 10px;
    grid-template-columns: 5fr 1fr;
}

.dialog-buttons button {
    border-radius: 10px;
    text-transform: uppercase;
}

.cancel {
    border: 2px solid #1F41F7;
    background-color: #ffffff;
}

.cancel:hover {
    background-color: #fefefe;
}

.confirm {
    background-color: #1F41F7;
    color: white;
    border: none;
}

.item-pic {
    width: 100%;
    max-height: 140px;
    object-fit: cover;
}

.list-config {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.icons-div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img-button {
    width: 30px;
}

.img-button:hover {
    filter: invert(23%) sepia(73%) saturate(5796%) hue-rotate(233deg) brightness(94%) contrast(106%);
}