h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    font-size: 16px;
}

.main-header {
    background-color: #ffffff;
    height: 55px;
    /* background-color: #25B33f; */
    border-bottom: 2px solid #d3d3d3;
}

.header-nav {
    padding: 0 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav p {
    font-family: 'Marck Script', cursive;
    font-size: 35px;
}

.nav-list {
    list-style: none;
}

.nav-list a {
    text-decoration:none;
    color: #000;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.wrapper-main {
    width: 80%;
    margin: 0 auto;
    min-width: 800px;
}

.wrapper {
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    margin: 0 auto;
    padding: 15px;
    align-items: start;
    display: flex;
    flex-direction: column;
    width: 100%;

}


.title-input{
    display: flex;
    flex-direction: row;

}
.qustion-list{
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.answer-list{
    list-style: none;
    margin: 0;
    padding: 15px;
    width: 100%;
}
.qustion-item{
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: start;
    width: calc(100%-10px);
}
.answer-item{
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    list-style: none;
    padding: 20px;
    width: 95%;
    margin: 0;
}
.input-name{
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
}
.input-topic{
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
}
.input-box{
    width: 100%;
    height: 35px;
    margin: 0;
    padding: 0;
}
.add-answer{
    border-radius: 12px;
    background: var(--primary-500, #1F41F7);
    color: #FFFFFF;
}