h1 {
    font-size: 30px;
}

h2 {
    font-size: 20px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fafafa;
    font-size: 16px;
}

.main-header {
    background-color: #ffffff;
    height: 55px; 
    /* background-color: #25B33f; */
    border-bottom: 2px solid #d3d3d3;
}

.header-nav {
    padding: 0 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.header-nav p {
    font-family: 'Marck Script', cursive;
    font-size: 35px;
}

.nav-list {
    list-style: none;
}

.nav-list a {
    text-decoration:none;
    color: #000;
}

main {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

.wrapper-main {
    width: 80%;
    margin: 0 auto;
}

.wrapper {
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    margin: 0 auto;
    padding: 15px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.question {
    background-color: #ffffff;
}

.question-text {
    font-size: 30px;
    margin: 0;
    padding: 5px;
    text-align: center;
}

.button-list {
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
}

.button-item {
    width: 100%;
    display: flex;
}

.button-item button{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    border: none;
    border-radius: 15px;
    color: #ffffff;
}

.button-item:nth-child(1) button {
    background-color: #2f6dae;
    --webkit-box-shadow: 0px 3px 0px 0px rgba(39, 90, 144, 1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(39, 90, 144, 1);
    box-shadow: 0px 3px 0px 0px rgba(39, 90, 144, 1);
}
.button-item:nth-child(2) button {
    background-color: #2c9ca6;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(36, 125, 133, 1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(36, 125, 133, 1);
    box-shadow: 0px 3px 0px 0px rgba(36, 125, 133, 1);
}
.button-item:nth-child(3) button {
    background-color: #eca82c;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(189, 136, 39, 1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(189, 136, 39, 1);
    box-shadow: 0px 3px 0px 0px rgba(189, 136, 39, 1);

}
.button-item:nth-child(4) button {
    background-color: #d4546a;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(161, 64, 81, 1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(161, 64, 81, 1);
    box-shadow: 0px 3px 0px 0px rgba(161, 64, 81, 1);
}


.button-item:nth-child(1) button:hover {
    background-color: rgba(39, 90, 144, 1);
    transition: .1s;

}.button-item:nth-child(2) button:hover {
    background-color: rgba(36, 125, 133, 1);
    transition: .1s;

}.button-item:nth-child(3) button:hover {
    background-color: rgba(189, 136, 39, 1);
    transition: .1s;

}.button-item:nth-child(4) button:hover {
    background-color: rgba(161, 64, 81, 1);
    transition: .1s;
}



.button-text {
    font-size: 18px;
}

.control {
    margin-top: 15px;
    width: 80%;
}

.control ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-areas: "prev next";
    gap: 15px;
}

.control button {
    width: 100%;
    height: 70px;
    margin: 0 auto;
    border: 2px #d3d3d3 solid;
    border-radius: 15px;
    background-color: #ffffff;
}

.control button:hover {
    background-color: rgba(212, 212, 212, 20%);
}

.prev-button {
    grid-area: "prev";
    
}

.prev-button {
    grid-area: "next";
}

.prev-button:hover {
    background-color: rgba(31, 65, 247, 15%);
    transition: .1s;
}

.back-button {
    width: 35%;
    background-color: #1F41F7;
    border-radius: 15px;
    border: none;
    box-shadow: 0px -4px #0F23B1 inset;
    margin-bottom: 10px;
    height: 60px;
}

.back-button:hover {
    background-color: #1F41F7;
}

.extra {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
    visibility: hidden;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}

.back-button p {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

.again-button {
    width: 35%;
    background-color: #fefefe;
    border-radius: 15px;
    border: 2px solid black;
    height: 60px;
}

.again-button p {
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
}

